<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Page d'accueil</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<h1>Page d'accueil</h1>
	<div>Bienvenue sur le site de l'application sécurisée. Je serai votre guide.</div>
	<div>La page de login est là : <a href="./login.html">login</a></div>
	<div>La page de contact est là : <a href="./contact.html">contact</a></div>
	<div>La page salut est là : <a href="./salut.html">salut</a>, mais il faut être authentifié pour y avoir accès.</div>
	<div>Le webservice des réservations est là : <a href="./rest/bookings">réservations</a>, mais il faut être authentifié pour y avoir accès.</div>
</body>
</html>